# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Validation.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Sources\Validation\.idea\.idea.Validation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
